@tailwind base;
@tailwind components;
@tailwind utilities;


.font-monospace {
  font-family: 'Source Code Pro', monospace;
}

.typewrite > .wrap-light { border-right: 0.08em solid #fff; }
.typewrite > .wrap-dark { border-right: 0.08em solid #000000; }

.h-612px {
  min-height: 612px;
}

.rounded-100 {
  border-radius: 100%;
}